
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.results-page {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}


.results-page .ag-theme-alpine {
    flex: 1; /* Allows the grid to take up available space */
    width: 100%; /* Ensures the grid takes up full width */
}


.results-page .ag-header-cell {
    border-right: 1px solid #afb5b4; /* Thicker border for better visibility */
    background-color: #cbc8c8; /* Light background for header */
}


.results-page .ag-cell {
    font-size: 16px; /* Adjust font size for cells */
}


.results-page .ag-header-cell-text {
    font-size: 18px; /* Adjust font size for headers */
}
